body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    border-radius: 50%;
    margin-right: 20px;
}

h1 {
    margin: 0;
}

nav {
    background-color: #444;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
}

nav button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #7bc4f2;
}

.dark-section {
    background-color: #333;
}

.dark-section img.profile-photo {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.dark-section .profile-content {
    max-width: 800px;
    margin: 0 auto;
}

.light-section {
    background-color: #333;
    color: #ffffff;
}

.light-section .biodata-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

a {
    color: #9fdefe;
}

a:hover {
    color: #7bc4f2;
}
